*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
}

.parent {
    margin-bottom: 1.5em;
}

header h1 {
    margin: 0;
    font-size: 5em;
    margin-bottom: 0em;
    font-weight: 800;
    font-family: Playfair Display;
    text-transform: uppercase;
    letter-spacing: -4.4px;

}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
}

.border-gradient {
    height: 2px;
    background: linear-gradient(
        90deg,
        white 0%,
        rgb(21, 184, 13) 20%,
        rgb(7, 53, 216) 90%,
        white 100%
    );
}

.container {
    padding: 0 100;
}

h2 {
    /* TODO LINA ADD MARGIN */
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}
.portfolio-item {
    width: 300px;
    margin: 0 75 0 0;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-image {
    border-radius: 10px;
}

.footer {
    background-color: #f8f9fa;
    padding: 30px;
    color: #333;
    margin-top: 2em;    
    font-family: Poppins;
    font-weight: 300;
}

.description {
    display: block;
    overflow: hidden;
    position: relative;
}

.description-text {
    display: inline-block;
    margin: 0;
    /* max-width: 100%; */
    /* width: 100%; */
    /* padding-left: 1.25em;
    padding-right: .75em; */
    padding-left: 0.5em;
    padding-right: 0.5em;
    z-index: 10;
    position: relative;
    background-color: #f8f9fa;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5em;
}


.description:after {
    background: #3d3e40;
    bottom: 50%;
    content: "";
    height: 2px;
    width: 100%;
    z-index: 5;
    display: inline-block;
    position: absolute;
    left: 0;
}